.contact-card-container{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color:  rgb(16, 28, 90);
    width: 350px;
    text-align: center;
    padding: 25px;
    color:  rgb(16, 28, 90);
    
    background-color: rgb(203, 225, 245);
}

.contact-card-container:hover{
    background-color: rgb(227, 206, 84);
}

.contact-title-p{
    margin: 0px;
    padding-bottom: 30px;
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;;
    word-spacing: 5px;
    font-size: 20px;
}

.contact-text-p{
    margin: 0px;
    padding-bottom: 30px;
    font-family: "Anton", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 2px;
}